.buttonsUnit .passwordSection{
    display: inline-block;
    position: relative;
    right: 70px;
    
}   

.buttonsUnit .deleteSection{
    display: inline-block;
    margin: 40px;
    position: relative;
    left: 87px;
}

.buttonsUnit button{
     background-color: white;
     border-width: 2px;
     border-style: solid;
     border-radius: 20px;
     font-size: larger;

}

#passwordButton{
    border-color: var(--green-color);
    color: var(--green-color);
}

#passwordButton:hover{
    border-color: rgba(0, 0, 255, 0.616);
    color:  rgba(0, 0, 255, 0.616);
    background-color: rgb(192, 189, 189);
}


#deleteButton{
    border-color: var(--red-color);
    color: var(--red-color);
}

#deleteButton:hover{
    border-color: rgba(0, 0, 255, 0.616);
    color:  rgba(0, 0, 255, 0.616); 
    background-color: rgb(192, 189, 189);
}



