.updateCoupon button{
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    font-size: larger;
    border-color: var(--red-color);
    color: var(--red-color);
}