 #returnButton {
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    font-size: xx-large;
    border-color: var(--red-color);
    color: var(--red-color);
    position: relative;
    top: 20px;
    left: 130px;
}

#returnButton:hover{
    border-width: 3px;
    font-weight: bolder;
}
