.viewCompany{
    font-family: "Playfair Display";
}

.viewCompany .detailUnit{
    margin: 5px;
    border: 2px solid var(--blue-color);
    border-radius: 10px;
    width: fit-content;
    position: relative;
    left: 300px;
}

.viewCompany .detailUnit > h2{
    margin: 10px;
}

.viewCompany .detailUnit > h3{
    margin: 10px;
}