.account{
    font-family: "Playfair Display";
}

.account .loginDetails{
    margin: 5px;
    border: 2px solid var(--blue-color);
    border-radius: 10px;
    width: fit-content;
    position: relative;
    left: 300px;
}

.account .loginDetails > h2{
    margin: 10px;
}

.account .loginDetails > h3{
    margin: 10px;
}